parameters:
    level: 5
    paths:
        - app
        - core
    excludePaths:
        - vendor/*
        - tests/*
    ignoreErrors:
        # Eloquent ORM static methods - these are dynamically available via magic methods
        - '#Call to an undefined static method App\\Models\\.+::(find|where|create|update|delete|first|get|all|orderBy|max|truncate|updateOrCreate|firstOrCreate|exists|leftjoin|leftJoin)\(\)#'
        # Pecee SimpleRouter properties
        - '#Access to an undefined property Pecee\\Http\\Request::\$authenticated#'
        # Array offset warnings
        - '#Offset .+ on array.*on left side of \?\? always exists#'
    scanDirectories:
        - vendor
    scanFiles:
        - tests/bootstrap.php